<!DOCTYPE html>
<html>
<head>
    <title>{% block title%} Tittle {% endblock %}</title>
</head>
<body>
    <header>
        <ul>
            <li>lorem Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</li>
            <li>lorem Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</li>
            <li>lorem Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</li>
        </ul>
    </header>
    <main>
        <div class="content">
            {% block content %} Contenido {% endblock %}
        </div>
    </main>
</body>
</html>