{% extends "layout.html.twig" %}
{% block main %}
	<div>
		{% block content %}
			{% block header %}
				<header style='background: #449342'>
					<nav class="navbar navbar-expand-lg px-3">
						<div class="container-fluid">
							<a class="navbar-brand" href="/">
								<h1>Inclusiva</h1>
							</a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNav">
								<ul class="navbar-nav ms-auto">
									{{ profile()|raw }}
								</ul>
							</div>
						</div>
					</nav>
				</header>
			{% endblock %}
		{% endblock %}
	</div>

{% endblock %}
