{% extends "layout.html.twig" %}
{% block title %}Buscar empleos
{% endblock %}

{% block main %}
				<header style='background: #449342 !important'>
					<nav class="navbar navbar-expand-lg px-3">
						<div class="container-fluid">
							<a class="navbar-brand" href="#">
								<h1>EmpleoPosible</h1>
							</a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNav">
								<ul class="navbar-nav ms-auto">
									<li class="nav-item">
										<a class="nav-link" href="#scrollspyHeading1">Inicio</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/jobs">Trabajos</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active" href="#scrollspyHeading2">Mis ofertas</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle perfil" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuario</a>
										<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
											<li>
												<a class="dropdown-item" href="#scrollspyHeading3">Mi cuenta</a>
											</li>
											<li>
												<a class="dropdown-item" href="#scrollspyHeading4">Mis postulaciones</a>
											</li>
											<li><hr class="dropdown-divider"></li>
											<li>
												<a class="dropdown-item" href="/login/logout">Salir</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</header>	
<div class="wrap"></div>
<div class="container d-flex h-100 w-100">
    <div class="col-4 d-flex bg-light flex-column presentacion-usuario">
        <div class="img-user"></div>
        <div class="pre-info">
            <div class="user-name">
                La fallet
            </div>
            <div class="profesion">
                Consulturia en TI
            </div>
        </div>
        <div class="btn btn-primary" style='margin-bottom:1rem;'>Editar presentacion <i
                class="fa-light fa-pen-to-square"></i></div>
    </div>
    <div class="col-8 bg-light info-usr">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <i>Siguiente</i> <i class="fa-sharp fa-light fa-arrow-right-long"></i>
        </div>
        <form class="row g-3" action='/home' method='POST'>
            <div class="col-md-8">
                <label for="nombre" class="form-label">Correo</label>
                <input type="email" class="form-control" placeholder='Correo'>
            </div>
            <div class="col-md-4">
                <label for="apellido" class="form-label">Contrasena</label>
                <input type="password" class="form-control" placeholder='Ingrese su contrasena'>
            </div>
            <div class="col-md-4">
                <label for="email" class="form-label">Tel.</label>
                <input type="numer" class="form-control" placeholder='Digita tu numero'>
            </div>
            <div class="col-md-8">
                <label for="inputState" class="form-label">Dejanos un mensaje</label>
                <input type="text" name="identificacion" id=""
                    placeholder='Ingresa tu numero de identificacion' class='form-control'>
            </div>
            <div class="col-md-6">
				<label for="pais">Pais</label>
                <select class="form-select">
                    <option selected>Seleciona tu pais de la empresa</option>
                    <option value="1">Colombia</option>
                    <option value="2">Panama</option>
                    <option value="3">Brasil</option>
                </select>
            </div>
            <div class="col-md-6">
			<label for="ciudad">Ciudad</label>
                <select class="form-select">
                    <option selected>Seleciona tu ciudad de recidencia</option>
                    <option value="1">Bogota</option>
                    <option value="2">Ciudad 21</option>
                    <option value="3">Ciudad 2</option>
                </select>
            </div>
            <div class="col-md-12">
                <label for="inputState" class="form-label">Direccion de residencia</label>
                <input type="text" name="direccion" id="" class='form-control'
                    placeholder='Digite su direccion de residencia'>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-danger me-md-2" type="button">Eliminar cuenta</button>
                <button class="btn btn-primary" type="button">Actualizar</button>
            </div>
        </form>
    </div>
</div>
<div class="wrap"></div>
<div class="container post">
    <!-- Reportes -->
    <h2>Mis vacantes</h2>
	<div class="row bg-white item-job align-content-center">
		<div class="col-md-3">
			<div class="d-flex flex-column">
				<strong>Desarrollador Senior</strong>
				<span>Helbatos S.A.S</span>
				<span>Bogota D.C., Bogota D.C</span>
			</div>
		</div>
		<div class="col-4">
			<div class="d-flex flex-column txt-post">
				<span>Hace 2 dias</span>
				<i>32 candidatos postulados</i>
			</div>
		</div>
		<div class="col-5">
			<div class="botones d-flex justify-content-end justify-content-evenly">
				<button class="btn btn-danger"><i class="fa-sharp fa-light fa-xmark"></i>  Finalizar vacante</button>
				<button class="btn btn-primary">Ver oferta</button>
			</div>
		</div>
	</div>

    	<div class="row bg-white item-job align-content-center">
		<div class="col-md-3">
			<div class="d-flex flex-column">
				<strong>Desarrollador Senior</strong>
				<span>Helbatos S.A.S</span>
				<span>Bogota D.C., Bogota D.C</span>
			</div>
		</div>
		<div class="col-4">
			<div class="d-flex flex-column txt-post">
				<span>Hace 2 dias</span>
				<i>32 candidatos postulados</i>
			</div>
		</div>
		<div class="col-5">
			<div class="botones d-flex justify-content-end justify-content-evenly">
				<button class="btn btn-danger"><i class="fa-sharp fa-light fa-xmark"></i>  Finalizar vacante</button>
				<button class="btn btn-primary">Ver oferta</button>
			</div>
		</div>
	</div>
    	<div class="row bg-white item-job align-content-center">
		<div class="col-md-3">
			<div class="d-flex flex-column">
				<strong>Desarrollador Senior</strong>
				<span>Helbatos S.A.S</span>
				<span>Bogota D.C., Bogota D.C</span>
			</div>
		</div>
		<div class="col-4">
			<div class="d-flex flex-column txt-post">
				<span>Hace 2 dias</span>
				<i>32 candidatos postulados</i>
			</div>
		</div>
		<div class="col-5">
			<div class="botones d-flex justify-content-end justify-content-evenly">
				<button class="btn btn-danger"><i class="fa-sharp fa-light fa-xmark"></i>  Finalizar vacante</button>
				<button class="btn btn-primary">Ver oferta</button>
			</div>
		</div>
	</div>
    	<div class="row bg-white item-job align-content-center">
		<div class="col-md-3">
			<div class="d-flex flex-column">
				<strong>Desarrollador Senior</strong>
				<span>Helbatos S.A.S</span>
				<span>Bogota D.C., Bogota D.C</span>
			</div>
		</div>
		<div class="col-4">
			<div class="d-flex flex-column txt-post">
				<span>Hace 2 dias</span>
				<i>32 candidatos postulados</i>
			</div>
		</div>
		<div class="col-5">
			<div class="botones d-flex justify-content-end justify-content-evenly">
				<button class="btn btn-danger"><i class="fa-sharp fa-light fa-xmark"></i>  Finalizar vacante</button>
				<button class="btn btn-primary">Ver oferta</button>
			</div>
		</div>
	</div>
    	<div class="row bg-white item-job align-content-center">
		<div class="col-md-3">
			<div class="d-flex flex-column">
				<strong>Desarrollador Senior</strong>
				<span>Helbatos S.A.S</span>
				<span>Bogota D.C., Bogota D.C</span>
			</div>
		</div>
		<div class="col-4">
			<div class="d-flex flex-column txt-post">
				<span>Hace 2 dias</span>
				<i>32 candidatos postulados</i>
			</div>
		</div>
		<div class="col-5">
			<div class="botones d-flex justify-content-end justify-content-evenly">
				<button class="btn btn-danger"><i class="fa-sharp fa-light fa-xmark"></i>  Finalizar vacante</button>
				<button class="btn btn-primary">Ver oferta</button>
			</div>
		</div>
	</div>
    	<div class="row bg-white item-job align-content-center">
		<div class="col-md-3">
			<div class="d-flex flex-column">
				<strong>Desarrollador Senior</strong>
				<span>Helbatos S.A.S</span>
				<span>Bogota D.C., Bogota D.C</span>
			</div>
		</div>
		<div class="col-4">
			<div class="d-flex flex-column txt-post">
				<span>Hace 2 dias</span>
				<i>32 candidatos postulados</i>
			</div>
		</div>
		<div class="col-5">
			<div class="botones d-flex justify-content-end justify-content-evenly">
				<button class="btn btn-danger"><i class="fa-sharp fa-light fa-xmark"></i>  Finalizar vacante</button>
				<button class="btn btn-primary">Ver oferta</button>
			</div>
		</div>
	</div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end pag">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</div>
{% endblock %}
